**import**

¿Qué tipo de variables tiene el dataset? Detalle el tipo de variable de cada
columna.
2. ¿En qué asignatura en promedio los estudiantes obtuvieron un mejor puntaje?
3. ¿Existe alguna correlación entre los puntajes obtenidos en las tres asignaturas?
4. ¿Hay alguna diferencia observable en los puntajes de la asignatura de
matemáticas entre hombres y mujeres? ¿Quiénes, hombres o mujeres, tienen la
mediana más alta para esta misma asignatura?
5. ¿Qué nivel de escolaridad tienen los padres de los estudiantes que obtuvieron
un puntaje superior a 90 en la asignatura de escritura? Liste los niveles de
escolaridad del más al menos frecuente.
6. ¿Qué porcentaje de los estudiantes obtuvieron puntajes iguales o superiores a
90 en las tres asignaturas? ¿Qué porcentaje de los estudiantes obtuvieron
puntajes iguales o superiores a 90 en las tres asignaturas y que adicionalmente
estudiaron para los exámenes?

In [126]:
import pandas as pd

In [127]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTkL3y4z0Sm3Roq7vU0_hvujWJQHfVEQfQI96oRDThPCHZzBo5dn9KcD4m9GkA3YEOnXnA2amexcr0g/pub?gid=2069426644&single=true&output=csv")
df.head

<bound method NDFrame.head of      gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]>

In [128]:
#¿Qué tipo de variables tiene el dataset? Detalle el tipo de variable de cada columna.
df.shape

(1000, 8)

In [129]:
#¿Qué tipo de variables tiene el dataset? Detalle el tipo de variable de cada columna.
df.dtypes
#gender                         Cualitativo nominal
#race/ethnicity                 Cualitativo nominal
#parental level of education    Cualitativo ordinal
#lunch                          Cualitativo nominal
#test preparation course        Cualitativo nominal
#math score                     Cuantitativo continuas
#reading score                  Cuantitativo continuas
#writing score                  Cuantitativo continuas

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [130]:
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [131]:
# 2. ¿En qué asignatura en promedio los estudiantes obtuvieron un mejor puntaje?
df.describe()
#En promedio la materia de *reding* tuvo un puntaje mayor con 69.1

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [132]:
# 3 ¿Existe alguna correlación entre los puntajes obtenidos en las tres asignaturas?
df3 = df[['math score','reading score','writing score']]
df3 = df3.corr(method ='pearson')
df3
# Si Existe alguna correlación entre las tres asignaturas, una correlacion alta de 0.81 , 0.80 y 0.95?

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

In [133]:
# 4 ¿Hay alguna diferencia observable en los puntajes de la asignatura de matemáticas entre hombres y mujeres? ¿Quiénes, hombres o mujeres, tienen la mediana más alta para esta misma asignatura?

df4 = df.groupby(['gender']).median()
df_4 = df.groupby(['gender']).mean()

print(df4)
print(df_4)
#Se puede ver que la media de las mujeres en matematicas 5 puntos menor.  Los hombre tienen la mediana más alta en matematicas con 69

        math score  reading score  writing score
gender
female          65             73             74
male            69             66             64
        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [134]:
# 5 ¿Qué nivel de escolaridad tienen los padres de los estudiantes que obtuvieron un puntaje superior a 90 en la asignatura de escritura? Liste los niveles de escolaridad del más al menos frecuente.
df5 = df.loc[df['writing score']>90]
df5 = df5.groupby("parental level of education").count().sort_values('gender', ascending = False)
df_5 = df.groupby("parental level of education").count().sort_values('gender', ascending = False)
print(df5)                                                    
print(df_5)                                                    
#Los padres de los estudiantes que obtuvieron un puntaje superior a 90 suelen tener estudios superiores a high school

                             gender  ...  writing score
parental level of education          ...
associate's degree               19  ...             19
some college                     18  ...             18
bachelor's degree                15  ...             15
master's degree                  10  ...             10
some high school                  5  ...              5
high school                       1  ...              1

[6 rows x 7 columns]
                             gender  ...  writing score
parental level of education          ...
some college                    226  ...            226
associate's degree              222  ...            222
high school                     196  ...            196
some high school                179  ...            179
bachelor's degree               118  ...            118
master's degree                  59  ...             59

[6 rows x 7 columns]

In [139]:
# 6 ¿Qué porcentaje de los estudiantes obtuvieron puntajes iguales o superiores a 90 en las tres asignaturas? ¿Qué porcentaje de los estudiantes obtuvieron puntajes iguales o superiores a 90 en las tres asignaturas y que adicionalmente estudiaron para los exámenes?
df6 = df.loc[df['math score']>90].loc[df['reading score']>90 ].loc[ df['writing score']>90]
print(df6)
# el 2.3% porciento de los estudiantes saco mas de 90 en las 3 materias
df_6= df6.loc[df['test preparation course']=='completed']
print(df_6)
# solo 14 de los 23 estudiantes completaron el curso,

     gender race/ethnicity  ... reading score writing score
114  female        group E  ...           100           100
149    male        group E  ...           100            93
165  female        group C  ...           100           100
179  female        group D  ...           100           100
451  female        group E  ...            92            97
458  female        group E  ...           100           100
546  female        group A  ...           100            97
566  female        group E  ...           100           100
571    male        group A  ...            96            92
594  female        group C  ...           100            99
625    male        group D  ...            97            99
685  female        group E  ...            99           100
712  female        group D  ...           100            99
717  female        group C  ...            96            99
855  female        group B  ...            97            96
864    male        group C  ...            93            91
886  female        group E  ...           100            95
903  female        group D  ...           100           100
916    male        group E  ...           100           100
919    male        group B  ...            96            91
957  female        group D  ...           100           100
962  female        group E  ...           100           100
979  female        group C  ...            95            94

[23 rows x 8 columns]
     gender race/ethnicity  ... reading score writing score
114  female        group E  ...           100           100
149    male        group E  ...           100            93
165  female        group C  ...           100           100
179  female        group D  ...           100           100
546  female        group A  ...           100            97
566  female        group E  ...           100           100
594  female        group C  ...           100            99
625    male        group D  ...            97            99
685  female        group E  ...            99           100
717  female        group C  ...            96            99
886  female        group E  ...           100            95
903  female        group D  ...           100           100
916    male        group E  ...           100           100
919    male        group B  ...            96            91

[14 rows x 8 columns]